@media screen and (min-width: 768px) {

    .header{
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #fff;
        height: 80px;
        width: 100%;
    }
    .header__left{
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 100px;
        position: relative;
    }
    .header__left a>div{
        padding: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .header__left .active>div,.header__left a>div:hover{
        background-color: white;
        color: #333333;
        padding: 20px;
    }

}
@media screen and (max-width: 768px) {

    .header{
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #fff;
        height: 50px;
        width: 100%;
    }
    .header__left{
        float: left;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
    }
    .header__left a>div{
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .header__left .active>div,.header__left a>div:hover{
        background-color: white;
        color: #333333;
        padding: 10px;
    }

}